/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* DECLARING VARIABLES */
:root {
    --bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --head-outline: hsl(217, 16%, 45%);
    --score-text: hsl(229, 64%, 46%);
    --dark-text: hsl(229, 25%, 31%);
    --red: hsl(349, 71%, 52%);
    --yellow: hsl(39, 89%, 49%);
    --purple: hsl(261, 73%, 60%);
    --cyan: hsl(189, 59%, 53%);
    --blue: hsl(230, 89%, 62%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 3%;
    padding: 0;
    background: var(--bg);
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
}

/* CLASSES ADDED TO VARIOUS ELEMENTS */
.cursor {
    cursor: pointer;
}

.flex {
    display: flex;
}

.overlay {
    position: relative;
    z-index: 1;
}

.text {
    line-height: 0;
    letter-spacing: 2px;
}

.visible {
    display: none;
}

/* STYLING SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--dark-text), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: var(--dark-text);
}

/* STYLING HEAD DIV */
.head-div {
    align-items: center;
    justify-content: space-between;
    border: solid 3px var(--head-outline);
    border-radius: 10px;
    margin: auto;
    padding: 1% 2%;
    width: 60%;
}

.score {
    background-color: white;
    width: 22%;
    border-radius: 10px;
}

.score h4 {
    color: var(--score-text);
    font-weight: 600;
}

.score h1 {
    color: var(--dark-text);
    font-size: 70px;
}

/* STYLING ICONS AND THE CONTAINER */
.options {
    width: 40%;
    justify-content: center;
    margin: 5% auto;
    position: relative;
}

.pentagon {
    width: 70%;
}

.sign {
    justify-content: center;
    width: 50%;
    margin: 18% auto;
}

.icon {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 12px solid;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 3px 1px rgb(175, 171, 171) inset;
}

.icon>img:hover {
    opacity: 0.8;
}

.yellow {
    border-color: var(--yellow);
    top: -50px;
}

.cyan {
    border-color: var(--cyan);
    top: 3.5rem;
    left: 30px;
}

.blue {
    border-color: var(--blue);
    top: 3.5rem;
    right: 30px;
}

.purple {
    border-color: var(--purple);
    top: 16.5rem;
    left: 90px;
}

.red {
    border-color: var(--red);
    top: 16.5rem;
    right: 90px;
}

.lizard,
.rock {
    margin-top: 24%;
}

.lizRo {
    margin: 24%;
}

/* STYLING RESULT DIV*/
.result {
    width: 80%;
    margin: 3% auto;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 600;
}

.container-icon {
    pointer-events: none;
    margin: auto;
}

.play-again {
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    color: hsl(214, 47%, 23%);
    cursor: pointer;
}

/* RULES */
#rule {
    width: 130px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    border-radius: 10px;
    float: right;
    margin-bottom: 3%;
    color: white;
    font-weight: 700;
}

#rule:hover {
    opacity: 0.7;
}

#cross {
    float: right;
    margin: 3%;
    color: var(--head-outline);
}

.guide {
    border-radius: 10px;
    box-shadow: 0px 2px 5px 2px gray;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40vw;
    height: 80%;
    background-image: url("images/image-rules-bonus.svg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

/* CLASSES ADDED VIA JS */
.opacity {
    opacity: 0.3;
}

.win {
    box-shadow: 5px 5px 3px 1px rgb(175, 171, 171) inset, 0 0 0 80px hsl(229, 25%, 31%), 0 0 0 160px hsl(228, 29%, 26%), 0 0 0 240px hsl(229, 42%, 22%);
    transition: all 500ms ease-out;
}

/* MAKING IT RESPONSIVE */
@media screen and (max-width:1130px) {
    .head-div {
        width: 75%;
    }

    .icon {
        position: static;
    }

    .options {
        width: 80%;
        justify-content: space-around;
    }

    .pentagon {
        display: none;
    }

    .guide {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:750px) {

    .head-div {
        width: 90%;
        margin: 14% auto 5%;
        padding: 3%;
    }

    .score {
        width: 40%;
    }

    .options {
        width: 100%;
        flex-wrap: wrap;
    }

    #rule {
        float: none;
        margin: 3% auto;
    }

    .result {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .declare {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .play-div {
        font-size: small;
    }

    .win {
        box-shadow: 5px 5px 3px 1px rgb(175, 171, 171) inset, 0 0 0 10px hsl(229, 25%, 31%), 0 0 0 20px hsl(228, 29%, 26%), 0 0 0 30px hsl(229, 42%, 22%);
    }
}
